<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= url("too_much.css") %>" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div class="confirmation-container">
<header>
<h2> Pack your bags <%= @user_booked.username %>!</h2>
</header>

 <footer>
  <div class="credit">
      <p>&copy; TooMuchSauce &nbsp;-&nbsp; Blue March 2021</p>
    </div>
</footer>
</div>
<form action="/accommodations/logout" method='post'>
  <input type="submit" value='Logout'>
</form>
    
</body>
</html>
