<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= url("too_much.css") %>" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div class="login-container">
<header>
<h1>BnB's Login</h1>
</header>

<main class="main-login">

<div class="left"></div>

<form class="login-form" action="/login/new" method="post">
  <label for="">Username: </label><input type="text" name="username" required><br />
  <label for="">Password: </label><input type="password" name="password" required><br />
  <input class="logger" type="submit" value="Go">
</form>

<div class="right"></div>

</main>


 <footer>
  <div class="credit">
      <p>&copy; TooMuchSauce &nbsp;-&nbsp; Blue March 2021</p>
    </div>
</footer>
</div>    
</body>
</html>